@media (max-width:1000px) and (orientation: landscape) {

    .notes__element-first,
    .notes__element-second,
    .notes__element-third {
        flex-basis: 40%;
    }
}

@media (max-width:800px) and (orientation: landscape) {
    .container-color {
        width: 110px;
        right: 5px;

        &__btn {
            width: 30px;
            height: 30px;
        }
    }

    .container {
        width: 80vw;
    }
}

@media (max-width:550px) and (orientation: landscape) {

    .notes__element-first,
    .notes__element-second,
    .notes__element-third {
        flex-basis: 70%;
    }

    .container__input {
        font-size: 25px;

        &::placeholder {
            font-size: 20px;
        }
    }
}

@media (max-width:1000px) and (orientation: portrait) {

    .notes__element-first,
    .notes__element-second,
    .notes__element-third {
        flex-basis: 40%;
    }
}

@media (max-width:600px) and (orientation: portrait) {
    .container {
        width: 80vw;
    }

    .notes__element-first,
    .notes__element-second,
    .notes__element-third {
        flex-basis: 70%;
    }
}

@media (max-width:500px) and (orientation: portrait) {
    .container-color {
        width: 110px;
        right: 5px;

        &__btn {
            width: 30px;
            height: 30px;
        }
    }

    .to-do-first,
    .to-do-second,
    .to-do-third {
        font-size: 50px;
    }

    .container {
        width: 90%;

        &__input {
            font-size: 25px;

            &::placeholder {
                font-size: 20px;
            }
        }
    }
}