$color-yellow: #FEB41C;
$color-light-blue: #5E7C88;
$color-dark-blue: rgb(54, 63, 69);
$color-note-yellow: lightyellow;

$color-purple: #B28BD9;
$color-turqoise: rgb(91, 204, 217);
$color-note-pink: #e08ec3;

$color-dark-green: #034001;
$color-light-green: rgb(6, 115, 2);
$color-note-red: #e0858c;